@use 'base/mixins' as m;
@use 'base/variables' as v;

.dashboard {
    display: flex;
    flex-direction: column;
    height: 100%;
    margin-top: 10rem;
    @include m.tablet {
        margin-top: 0;
        flex-direction: row;
        height: 100vh;
    }
    
    .principal {
        width: 100%;
        overflow-x: hidden;
        
        .contenido {
            h3 {
                font-size: 3rem;
                text-align: center;
                margin: 0;
                margin-top: 2.5rem;
                @include m.tablet {
                    font-size: 4rem;
                }
            }

            .contenedor-sm {
                padding: 0 3rem;
                .formulario {
                    margin: 3rem 0;
                    .campo {
                        label {
                            flex: 0 0 8rem;
                            @include m.tablet {
                                flex: 0 0 10rem;
                            }
                        }
                        input {
                            background-color: v.$blanco;
                        }
                    }
                }
                .boton {
                    width: 15rem;
                    @include m.boton2(v.$indigo, v.$blanco);
                    margin: 3rem 0;
                    @include m.tablet {
                        font-size: 1.5rem;
                    }
                }
            }
        }
    }

    .enlace-perfil {
        display: block;
        margin: 5rem 0;
        color: lighten(v.$indigo, 15%);
        &:hover {
            color: lighten(v.$indigo, 5%);
        }
    }

}