@use 'base/mixins' as m;
@use 'base/variables' as v;

.dashboard {
    display: flex;
    flex-direction: column;
    background-color: rgb(240, 236, 236);
    height: 100vh;
    @include m.tablet {
        flex-direction: row;
    }

    .principal {
        width: 100%;

        .contenido {
            h3 {
                font-size: 3rem;
                text-align: center;
            }

            .contenedor-sm {
                padding: 0 3rem;
                .formulario {
                    margin: 3rem 0;
                    .campo {
                        label {
                            flex: 0 0 8rem;
                            @include m.tablet {
                                flex: 0 0 10rem;
                            }
                        }
                        input {
                            background-color: v.$blanco;
                        }
                    }
                }
                .boton {
                    @include m.boton(v.$indigo, v.$blanco);
                    text-transform: uppercase;
                    margin: 3rem 0;
                }
            }
        }
    }

}