@use 'base/mixins' as m;
@use 'base/variables' as v;

.sidebar {
    height: 0;
    opacity: 0;
    background-color: v.$indigo;
    color: v.$blanco;
    display: flex;
    flex-direction: column;
    align-items: center;
    transition: opacity .5s ease;
    transform: translateX(-100%); 
    visibility: hidden;
    
    @include m.tablet {
        opacity: 1;
        height: 100%;
        width: 35rem;
        gap: 3rem;
        transform: translateX(0); 
        visibility: visible;
    }
    h2 {
        margin: 3rem;
        font-size: 6rem;
    }
    ul {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding: 0;
        margin-top: 5rem;
        gap: 3rem;
        @include m.tablet {
            width: 100%;
            padding: 0 2rem;
            align-items: flex-start;
            gap: 2rem;
        }
        li {
            list-style: none;
            text-transform: uppercase;
            width: 100%;
            transition: all .3s;
            .enlace {
                display: flex;
                align-items: center;
                justify-content: center;
                width: 100%;
                height: 4rem;
                color: v.$blanco;
                font-size: 1.8rem;
                border-radius: 1rem;
                padding: 2rem;
                @include m.tablet {
                    font-size: 1.5rem;
                    justify-content: flex-start;
                    padding-left: 1rem;
                }
                &:hover {
                    background-color: darken(v.$indigo, 10%);
                    cursor: pointer;
                }
            }
            .activo {
                background-color: darken(v.$indigo, 20%);
            }
            
        }
    }
}

.sidebar-cerrar {
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 0 4rem;
    margin-top: 1.8rem;
    h2 {
        margin: 0;
        font-size: 4rem;
        @include m.tablet {
            font-size: 6rem;
        }
    }
    img {
        width: 2rem;
        cursor: pointer;
        @include m.tablet {
            display: none;
        }
    }
}

.contenedor-boton-mobile {
    width: 100%;
    position: absolute;
    bottom: 0;
    @include m.tablet {
        display: none;
    }
    a {
        @include m.boton(darken(v.$indigo, 10%), v.$blanco);
        height: 4rem;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 1rem;
        margin: 5rem 2rem;
    }
}

.mostrar {
    z-index: 100;
    top: 0;
    position: absolute;
    opacity: 1;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.938);
    transform: translateX(0);
    visibility: visible;
}

.ocultar {
    opacity: 0;
}